.App {
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
  background: #B2B0B0;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

#logo {
    height: 6rem;
    width: auto;
  }

#table {
  margin-left: auto;
  margin-right: auto
}
